/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    color: #ff6347;
    text-align: center;
}

/* Login and Signup */
#login-container, #signup-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffebcd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ff6347;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e53e36;
}

/* Chatroom */
#chatroom-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffebcd;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ff6347;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

#message {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ff6347;
}

button {
    width: 70px;
    margin-top: 10px;
}
